{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="{% url 'root' %}"><img src="{% static 'images/icon.png' %}" width="35" height="35" class="d-inline-block align-top mr-2"> <span class="display-5">Truffle</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-default">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="{% url 'root' %}">
                            <img src="{% static 'images/icon-white.svg' %}">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>

            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Discover</a>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbar-default_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
                        {% if not user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'accounts:login' %}?next={{ request.path }}">로그인</a>
                            <a class="dropdown-item" href="{% url 'accounts:signup' %}">회원가입</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'accounts:profile' %}">프로필</a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'accounts:logout' %}?next={% url 'core:index' %}">로그아웃</a>
                        {% endif %}
                    </div>
                </li>
            </ul>

        </div>
    </div>
</nav>