{% extends 'layout/raw.html' %}
{% load static %}

{% block raw_content %}

    {% include "layout/header.html" %}
    <main> {% block content %} {% endblock %}</main>
    {% include "layout/footer.html" %}

    <!-- 토스트는 html 중 어디든 넣어도 ok -->

    <div id="toast-container" class="position-relative" aria-live="polite" aria-atomic="true">
        <div id="toast-container-inner" class="w-100 fixed-top ml-auto" style="right: 0;">

            {% for message in messages %}
            <div class="toast fade show m-2 ml-auto" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="5000">
                <div class="toast-header">
                    <i class="eva-alert outline text-dark mr-2 pt-1"></i>
                    <strong class="mr-auto">{{ message.tags }}</strong>
                    <small class="text-dark text-muted">방금 전</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">{{ message.message }}</div>
            </div>
            {% endfor %}
            
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
            
                <div class="toast fade show m-2 ml-auto" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="5000">
                    <div class="toast-header">
                        <i class="eva-alert outline text-dark mr-2 pt-1"></i>
                        <strong class="mr-auto">{{ field }}</strong>
                        <small class="text-dark text-muted">방금 전</small>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">{{ error|escape }}</div>
                </div>
            
                {% endfor %}
            {% endfor %}

        </div>
    </div>
{% endblock %}