@charset "UTF-8";

/* Noto Sans CJK KR */

@font-face {
    font-family: 'Noto Sans CJK KR';
    font-weight: 400;
    src: url('../fonts/NotoSansCJKkr-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans CJK KR';
    font-weight: 700;
    src: url('../fonts/NotoSansCJKkr-Bold.otf') format('opentype');
}

/* Noto Serif CJK KR */
/*  */
@font-face {
    font-family: 'Noto Serif CJK KR';
    font-weight: 400;
    src: url('../fonts/NotoSerifCJKkr-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Serif CJK KR';
    font-weight: 700;
    src: url('../fonts/NotoSerifCJKkr-Bold.otf') format('opentype');
}

/* font css */

body,
.sans {
    font-family: 'Noto Sans CJK KR', sans-serif;
}

.serif {
    font-family: 'Noto Serif CJK KR', serif;
}

@font-face {
    font-family: 'eva';
    src: url('../fonts/eva.ttf?yrwy06') format('truetype'),
        url('../fonts/eva.woff?yrwy06') format('woff'),
        url('../fonts/eva.svg?yrwy06#eva') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*='eva-'] {
    font-family: 'eva' !important;
    font-style: normal;
    font-weight: normal;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    text-align: center;

    font-variant: normal;
    text-transform: none;

    font-size: 125%;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.eva-edit.filled:before {
  content: "\e919";
}
.eva-edit.outline:before {
  content: "\e91a";
}
.eva-upload.outline:before {
  content: "\e91b";
}
.eva-upload.filled:before {
  content: "\e91c";
}
.eva-gift.filled:before {
  content: "\e917";
}
.eva-gift.outline:before {
  content: "\e918";
}
.eva-bookmark.filled:before {
  content: "\e915";
}
.eva-bookmark.outline:before {
  content: "\e916";
}
.eva-star.filled:before {
  content: "\e913";
}
.eva-star.outline:before {
  content: "\e914";
}
.eva-kakao.filled:before {
  content: "\e911";
}
.eva-kakao.outline:before {
  content: "\e912";
}
.eva-logo:before {
  content: "\e90a";
}
.eva-facebook.filled:before {
  content: "\e90b";
}
.eva-facebook.outline:before {
  content: "\e90c";
}
.eva-github.filled:before {
  content: "\e90d";
}
.eva-github.outline:before {
  content: "\e90e";
}
.eva-google.filled:before {
  content: "\e90f";
}
.eva-google.outline:before {
  content: "\e910";
}
.eva-alert.filled:before {
  content: "\e900";
}
.eva-alert.outline:before {
  content: "\e901";
}
.eva-home.filled:before {
  content: "\e902";
}
.eva-home.outline:before {
  content: "\e903";
}
.eva-people.filled:before {
  content: "\e904";
}
.eva-people.outline:before {
  content: "\e905";
}
.eva-search.filled:before {
  content: "\e906";
}
.eva-search.outline:before {
  content: "\e907";
}
.eva-settings.filled:before {
  content: "\e908";
}
.eva-settings.outline:before {
  content: "\e909";
}