@charset "UTF-8";
@import 'font.css';
@import 'bootstrap.min.css';
@import 'quill.bubble.css';
@import 'owl.carousel.min.css';
@import 'star.css';

/*-------------------- 전역 --------------------*/
/* 드래그 색상 */
::selection {
    background-color: #cce2ff;
    color: rgba(0, 0, 0, 0.87);
}

/* a 태그의 reboot */
a,
a:hover {
    color: inherit;
    text-decoration: none;
}

/* body 태그 어두운 색 */
body {
    background-color: #f6f8fe;
}

/* main 태그에 상단 헤더바에 대한 여백 */
main {
    padding-top: 56.2px;
}

/* hr 태그 색상 */
hr {
    /* border-color: rgba(0, 25, 53, 0.25); */
}

/* 아이콘(filled) */
/* 추가로 헤더(하단)의 아이콘 툴팁 서식에도 적용 */
.icon-container > i {
    font-size: 1.25rem;
}
.outline.light,
.outline.light + small {
    color: rgba(255, 255, 255, 0.75) !important;
    transition: color 0.25s;
}
.filled.light,
.filled.light + small {
    font-weight: bold;
    color: rgba(255, 255, 255, 1) !important;
    transition: color 0.25s;
}

/* dark */
.outline.dark,
.outline.dark + small {
    color: rgba(72, 118, 239, 0.75) !important;
}
.filled.dark,
.filled.dark + small {
    color: rgba(72, 118, 239, 1) !important;
}

/* 소셜 아이콘 색상 */
/* eva-facebook outline social facebook */
.social-box {
    width: 3rem;
    height: 3rem;
    border-style: solid;
    border-width: 2px;
    border-radius: 5rem;
    transition: all .25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-box.facebook {
    border-color: #3b5998;
}
.social-box.google {
    border-color: #DC4E41;
}
.social-box.kakao {
    border-color: #FFE100;
}
.social-box.facebook:hover {
    background-color: #3b5998;
}
.social-box.google:hover {
    background-color: #DC4E41;
}
.social-box.kakao:hover {
    background-color: #FFE100;
}

.social-box > .social {
    font-size: 1.5rem;
    transition: all .25s;
}

/* 이미 등록한 소셜 계정` */
.social-box.disabled {
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-color: rgba(0, 0, 0, 0.25) !important;
    pointer-events: none;
}
.social-box.disabled > i.social.outline {
    color: rgba(0, 0, 0, 0.5) !important;
}

.social-box > .social.facebook.outline {
    color: #3b5998 !important;
}
.social-box > .social.facebook.filled {
    color: white;
}

.social-box > .social.google.outline {
    color: #DC4E41 !important;
}
.social-box > .social.google.filled {
    color: white;
}

.social-box > .social.kakao.outline {
    color: #FFE100 !important;
}
.social-box > .social.kakao.filled {
    color: white;
}


/* 풀스크린 페이지를 위해 사용 */
.vh-100 {
    height: 100vh;
}

/* 부트스트랩 확장 */
/* 폼 입력에 대한 서식 수정 */
.form-control[readonly] {
    background-color: unset;
    border-color: rgba(0, 0, 0, 0.1);
}

.form-control:focus,
.form-control:hover,
.form-control:invalid {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
    transition: all .25s;
}

.form-control:valid {
    border: 1px solid transparent;
}

.form-control {
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: transparent;
}

.form-control:focus {
    box-shadow: none !important;
}

/* 카드 */
.card {
    border: 1px solid #e4ebfe;
    border-radius: 0.5rem;
    box-shadow: 0 0 1px 1px rgba(72, 118, 239, 0.05);
    transition: border .25s, box-shadow .25s;
}
.card:hover {
    border: 1px solid #a0c0ff;
    box-shadow: 0 0 1px 1px rgba(72, 118, 239, 0.1);
}

/* 폰트 및 헤딩 */
[class*='display-'] {
    color: #4876EF;
    font-weight: bold;
}

.display-5 {
    font-size: 3rem;
    line-height: 1.2;
}

.text-muted {
    color: rgba(72, 118, 239, 0.5) !important;
}

.text-white.text-muted {
    color: rgba(255, 255, 255, 0.5) !important;
}

.btn-light {
    border: 1px solid rgba(72, 118, 239, 0.25);
}

.nav-pills .nav-link.active,
.btn-dark {
    background-color: rgba(72, 118, 239, 1);
    border: rgba(72, 118, 239, 0.5);
    transition: background-color 0.5s;
}
.nav-pills .nav-link.active:hover,
.btn-dark:hover {
    background-color: rgba(72, 118, 239, 0.75);
}
.nav-pills .nav-link.active:active,
.btn-dark:active {
    background-color: rgba(72, 118, 239, 1) !important;
}


/* 커스텀 확장: 특수 link */
/* 처음부터 눈에 띄는 강한 링크 */
.markable-link {
    font-weight: bold;
    color: rgba(72, 118, 239, 1);
    border-bottom: 0.15rem solid rgba(72, 118, 239, 1);
    text-decoration: none;
}

.markable-link:hover {
    color: rgba(72, 118, 239, 0.75);
    border-bottom: 0.15rem solid rgba(72, 118, 239, 0.75);
    text-decoration: none;
}

/* 흐릿하게 눈에 띄는 약한 링크 */
.unmarkable-link {
    font-weight: bold;
    color: rgba(72, 118, 239, 0.25);
    text-decoration: none;
}

.unmarkable-link:hover {
    color: rgba(72, 118, 239, 0.5);
    border-bottom: 0.15rem solid rgba(72, 118, 239, 0.5);
    text-decoration: none;
}

/* 태그 */
.tag {
    margin-right: 0.25rem;
    padding: 0.25rem 0.5rem;
    color: #666;
    border: 1px solid #dddddd;
    border-radius: 0.4rem;
    word-break: keep-all;
    transition: all 0.2s;
    cursor: pointer;
    user-select: none;
}

/* 태그 hover 상태일 때 */
.tag:hover {
    color: #333333;
    border: 1px solid #999999;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}


/*-------------------- 헤더(상단) --------------------*/
/* 헤더(상단) */
.navbar.fixed-top {
    padding: 0;
    background-color: #4876EF;
    border-bottom: thin solid #4876EF;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* 헤더(상단) 스크롤 상태일 때 */
.navbar.fixed-top.is-scrolled {
    transform: translate3d(0, -100%, 0);
}

/* 없앴던 padding을 복구 */
.navbar.fixed-top > .container,
.navbar.fixed-top > * > .container {
    padding: .5rem 1rem;
}

/* 헤더(상단) 브랜드 */
.navbar.fixed-top .navbar-brand {
    margin-left: -.5rem;
    transition: color 0.5s;
    color: rgba(255, 255, 255, 0.75) !important;
}
.navbar.fixed-top .navbar-brand:hover {
    color: rgba(255, 255, 255, 1) !important;
}

/* 헤더(상단)의 브랜드 로고 */
/* .navbar.fixed-top .navbar-brand::before {
    content: url('../images/icon.svg');
    width: 22px;
    height: 26px;
    margin-right: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    opacity: 0.8;
} */

/* 토스트(알림) */
#toast-container-inner {
    max-width: calc(350px + 1rem);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* 토스트(알림) 스크롤 상태일 때 */
#toast-container-inner.is-scrolled {
    transform: translate3d(0, -100%, 0);
}

/* 글쓰기/보기 페이지일 때 */
.navbar.transparent {
    background: transparent !important;
    border-color: rgba(255, 255, 255, 0.25) !important;
}


/*-------------------- 헤더(중단, 검색) --------------------*/


/*-------------------- 헤더(하단, 모바일) --------------------*/
/* 헤더(하단) */
.navbar.fixed-bottom {
    background-color: #FFFFFF;
    border-top: 1px solid rgba(72, 118, 239, 0.25);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* 헤더(하단) 스크롤 상태일 때 */
.navbar.fixed-bottom.is-scrolled {
    transform: translate3d(0, 100%, 0);
}

/* 헤더(하단) 아이콘 줄 여백 */
.navbar.fixed-bottom .nav-link {
    line-height: 1.25rem;
}

/* 헤더(하단) 아이콘 크기 */
.navbar.fixed-bottom .nav-link > [class^='eva-'] {
    font-size: 120%;
}

/*-------------------- 헤더(상단) 검색 바 --------------------*/
/* 검색 창 영역 */
.search-form {
    margin-bottom: 0 !important;
}
.search-form > .input-group {
    color: #555555;
    background-color: rgba(255, 255, 255, 0.25);
    border: 0;
    border-radius: 0.25rem;
    transition: background-color 0.25s;
}

/* 검색 창 영역 focus(within) */
.search-form > .input-group:focus-within {
    background-color: rgba(255, 255, 255, 0.9);
}

/* 검색 창 input의 prepend */
.search-form > .input-group > .form-control-prepend::before {
    width: 0;
    padding-left: 0.4rem;
    padding-right: 0.8rem;
    line-height: 2.3rem;
    vertical-align: middle;
    display: inline-block;
}

.search-form > .input-group:focus-within > .form-control-prepend::before {
    color: rgba(72, 118, 239, 0.75);
}

/* 검색 창 input */
.search-form > .input-group > .form-control {
    border: 0;
    color: rgba(255, 255, 255, 0.75);
    background-color: transparent;
}

/* 검색 창 input의 focus, active */
.search-form > .input-group > .form-control:focus,
.search-form > .input-group > .form-control:active {
    box-shadow: none;
    color: rgba(0, 0, 0, 0.75);
    background-color: transparent;
}

/* 검색 창 input의 placeholder */
.search-form > .input-group > .form-control::placeholder {
    color: rgba(255, 255, 255, 0.75) !important;
}
.search-form > .input-group > .form-control:focus::placeholder,
.search-form > .input-group > .form-control:active::placeholder {
    color: rgba(0, 0, 0, 0.75) !important;
}

/*-------------------- 푸터 --------------------*/
/* 푸터 */
footer {
    background-color: #edf2ff;
}

/*-------------------- 랜딩 페이지 --------------------*/
/* 좌측 svg 배경 */
.bg-wall {
    background-color: #001935;
    background: url('../images/background-black.svg') no-repeat;
    background-size: cover;
}

/*-------------------- 피드 페이지 --------------------*/
/* feed-area: playlist 한 덩어리 */
.feed-area {
    display: flex;
}

/* feed-prepend: (유저) 아이콘 */
.feed-area > .feed-prepend > .profile-outer {
    width: 71px;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    border: 1px solid #e4ebfe;
    transition: border-radius 0.25s linear, border 0.25s;
    background-color: #FFFFFF;
}
.feed-area > .feed-prepend > .profile-outer > .profile-inner {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 5rem;
    transition: border-radius 0.25s linear;
}
.feed-area > .feed-prepend > .profile-outer:hover {
    border-radius: 0.25rem;
    border: 1px solid #a0c0ff;
}
.feed-area > .feed-prepend > .profile-outer:hover > .profile-inner {
    border-radius: 0.25rem;
}

/* feed-box: 게시글 상자 */
.feed-area > .feed-box {
    display: flex;
    flex-grow: 1;
    border-radius: 0.5rem;
}

/* feed-header: 게시글 상자 헤딩 */
.feed-area > .feed-box > .feed-header {
    border-bottom: none;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 게시글 상자 제목 */
.feed-area > .feed-box > .feed-header {
    font-size: 0.9rem;
    display: flex;
}

/* 게시글 상자 제목 */
.feed-area > .feed-box > .feed-header > .feed-header-left {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

.feed-area > .feed-box > .feed-header > .feed-header-left > .feed-author {
    font-size: 1rem;
    font-weight: bold;
    line-height: 2;
    color: rgb(72, 118, 239);
}

.feed-area > .feed-box > .feed-header > .feed-header-left > .feed-time {
    font-size: .8rem;
    line-height: 1;
    color: rgba(0, 0, 0, 0.5);
}

.feed-area > .feed-box > .feed-header > .feed-header-right {
    font-size: 1rem;
}

/* 게시글 상자 내 유저 아이콘 */
.feed-area > .feed-box > .feed-header > .profile-outer > .profile-inner {
    width: 30px;
    height: 30px;
    margin-left: -.5rem;
    margin-right: 0.35rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

/* 게시글 상자 작성 시간 */
.feed-area > .feed-box > .feed-header > .feed-time {
    font-size: 0.8rem;
    color: #555555;
}

/* 게시글 상자 이미지 영역 */
.feed-area > .feed-box > .feed-image-container {
    width: 95%;
    position: relative;
    align-self: center;
    border-radius: 0.5rem;
    overflow: hidden;
    display: grid;
    grid-gap: 2px;
}

.feed-area > .feed-box > .feed-image-container:before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

/* 게시글 상자 이미지 박스 */
.feed-area > .feed-box > .feed-image-container > .feed-image {
    width: 100%;
    padding-bottom : 100%; /* = width for a 1:1 aspect ratio */
    background-color:#f6f8fe;
    position: relative;
    overflow:hidden;
    transition: filter .25s;
}

/* 이미지의 개수에 따라 변화 */
.feed-image-container.with-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.feed-image-container.with-3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.feed-image-container.with-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.with-2 > .feed-image.main {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.with-3 > .feed-image.main {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}
.with-4 > .feed-image.main {
    grid-row: 1 / 4;
    grid-column: 1 / 4;
}

/* 게시글 상자 이미지 hover 시 서식 */
.feed-area > .feed-box > .feed-image-container > .feed-image:hover {
    filter: brightness(75%);
}

/* 게시글 상자 이미지 */
.feed-area > .feed-box > .feed-image-container > .feed-image > img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

/* 게시글 상자 내용 */
.feed-area > .feed-box > .feed-content > .feed-body > .feed-title {
    margin-right: .1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    display: inline-block;
}
.feed-area > .feed-box > .feed-content > .feed-body > .feed-description {
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
}
.feed-area > .feed-box > .feed-content > .feed-body > .feed-detail {
}

/* 게시글 상자 태그 영역 */
.feed-area > .feed-box > .feed-content > .feed-tags {
    margin: 1rem 0 0;
    font-size: .9rem;
}

/* 더 많이 구독하세요 etc */
.etc {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 사이드바 */
.side {
    margin-bottom: .5rem;
    font-size: 0.9rem;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 0.5rem;
    border-color: rgba(72, 118, 2395, 0.75);
    transition: background-color 0.25s;
}

.side:hover {
    background-color: rgba(255, 255, 255, 1);
}

/* 사이드바 타이틀 */
.side > .side-title {
    margin: 0 1.25rem;
    padding: 0.75rem 0;
    color: #4876EF;
    background-color: transparent;
    font-weight: bold;
}

.side > .side-tail {
    background-color: transparent;
}

.side > .side-title,
.side > .side-content,
.side > .side-tail {
    border-color: rgba(72, 118, 2395, 0.25);
}

/*-------------------- 계정 관리 --------------------*/
/* 프로필 이미지 */
.account-image-outer {
    width: 110px;
    height: 110px;
    background-color: #ffffff;
    border: 1px solid #e4ebfe;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -3rem;
    z-index: 1;
    box-shadow: 0 0 1px 1px rgba(72, 118, 239, 0.05);
    transition: border .25s, box-shadow .25s;
}

.account-image-outer:hover {
    box-shadow: 0 0 1px 1px rgba(72, 118, 239, 0.1);
    border: 1px solid #a0c0ff;
}

/* .card {
    border: 1px solid #e4ebfe;
    border-radius: 0.5rem;
    box-shadow: 0 0 1px 1px rgba(72, 118, 239, 0.05);
    transition: border .25s, box-shadow .25s;
}
.card:hover {
    border: 1px solid #a0c0ff;
    box-shadow: 0 0 1px 1px rgba(72, 118, 239, 0.1);
} */

.account-image-outer > .account-image-inner {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5rem;
}

/*-------------------- 구독 관리 --------------------*/
/* 구독 한 줄 */
.subs-line {
    padding: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

/* 프로필 이미지 */
.subs-line > .subs-image-outer {
    width: 45px;
    height: 45px;
    margin-right: 0.75rem;
    object-fit: cover;
    overflow: hidden;
    border: 1px solid rgba(72, 118, 239, 0.25);
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subs-line > .subs-image-outer > .subs-image-inner {
    width: 90%;
    object-fit: cover;
    border-radius: 0.25rem;
}

.subs-line > .subs-text {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
}

.subs-line > .subs-text > .subs-subtext {
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.5);
}


/*-------------------- 글 쓰기 --------------------*/
.background-main-image {
    width: 100%;
    height: 350px;
    margin-top: -56.2px;
    padding-top: 56.2px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://i.imgur.com/P9IVqkS.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
}
.main-image {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('https://i.stack.imgur.com/34AD2.jpg');
    border-radius: .25rem;
    border: 2px solid white;
    cursor: pointer;
}

.background-main-image .form-group {
    margin-left: -.75rem;
    margin-bottom: 0;
}

.background-main-image .form-group>.form-control {
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-color: transparent;
    transition: all .25s;
}

.background-main-image .form-group>.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.background-main-image .form-group>.form-control:focus,
.background-main-image .form-group>.form-control:hover,
.background-main-image .form-group>.form-control:invalid {
    color: white;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: none !important;
}

#id_description {}

#id_title {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

#id_tags {}

.stars-container {
    margin: 1rem 0;
    display: flex;
    opacity: .75;
    align-items: center;
}

.stars-container>.eva-star {
    margin: .05rem;
    font-size: 1.75rem;
}

.stars-container>.star-detail {
    margin-left: .5rem;
    color: white;
}




.post-area {
    margin-top: -2rem;
}

.owl-prev,
.owl-next {
    position: absolute;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30%;
    display: block !important;
    border: none;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.25) !important;
    border-radius: 1rem;
    transition: background-color .1s;
}

.owl-prev:hover,
.owl-next:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

.owl-prev i,
.owl-next i {
    transform: scale(1, 6);
    color: #ccc;
}

/* (카드) 이미지 영역 */
.owl-carousel-image {
    padding: 1.25rem;
    padding-bottom: 0;
}
.owl-carousel-image>.owl-stage-outer .owl-item {
    border-radius: .5rem;
    overflow: hidden;
    background-color: #ededed;
}

/* 새 카드 버튼 */
.card.plus {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    color: white;
    background-color: #4876EF;
    cursor: pointer;
    transition: all .25s;
}

.card.plus:hover {
    opacity: .85;
}

.detail-scrap {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}



/* sns 공유 버튼 */
.share {
    width: 35px;
    height: 35px;
    margin-right: .25rem;
    display: inline-block;
    border-radius: .25rem;
    overflow: hidden;
    transition: all .1s;
}

.share:hover {
    opacity: .6;
}

.share > img {
    width: 100%;
    object-fit: cover;
}