{% extends 'layout/_layout.html' %} {% block title %}{{ author }}의 글{% endblock %} {% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="mb-5 d-inline-block w-100 text-center text-md-left">
                <h2 class="display-6 ml-2 mb-4">{{ author }}의 글</h2>
            </div>
            <div class="position-relative d-flex justify-content-center align-items-center">
                <div class="account-image-outer">
                    <img class="account-image-inner" src="{{ author.profile.photo.url }}" />
                </div>
            </div>

            <article class="card container mt-3 mb-4">
                <div class="card-body row px-2 pt-4">
                    <div class="col-12">
                        <h2 class="display-6 my-4 text-center">{{ author }}</h2>
                        <!-- <hr> -->
                    </div>
                    <div class="col-12">
                        이름 : {{ author.last_name }}{{ author.first_name }}
                        {% if mine %}
                        <br> 가입 일자 : {{ author.date_joined }}
                        <br> 마지막 로그인 : {{ author.last_login }}
                        {% endif %}
                    </div>
                    <div class="col-12">
                        {% if following %}
                        <br>구독 중 : {% for follow in following %} <a href="{% url 'accounts:user_list' follow.user.id%}" >{{ follow.user }}님</a> {% endfor %} {% endif %} {%if followed %}
                        <br> 구독 받는 중 : {% for following in followed %} <a href="{% url 'accounts:user_list' following.user.id%}" >{{ following.user }}님</a> {% endfor %} {% endif %}

                        <br> 구독 태그 : {% if tags %} {% for tag in tags%} #{{ tag }}, {% endfor %} {% endif %}  
                       
                        <br>
                        {% if is_following %}
                        <a class="btn btn-primary" href="{% url 'accounts:action' %}?action=unfollow&user_id={{ author.profile.id }}&next={{ request.path|urlencode }}">구독 취소</a>
                        {% else %}
                        <br>
                        <a class="btn btn-primary" href="{% url 'accounts:action' %}?action=follow&user_id={{ author.profile.id }}&next={{ request.path|urlencode }}">이 사람 구독하기</a>
                        {% endif %}

                        <br>
                    </div>
                </div>
            </article>

            {% for playlist in userlist %} {% include 'playlists/__playlist_card.html' with playlist=playlist prepend=False %} {% endfor %}

        </div>
        <div class="col-4 d-none d-md-block">
            {% include 'core/__side.html' %}
        </div>
    </div>
</div>
{% endblock %}