{% extends 'layout/_layout.html' %} {% block title %}메인 페이지{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-8">
            {% for playlist in playlists %}
                {% include 'playlists/__playlist_card.html' with playlist=playlist prepend=True  %}
            {% endfor %}
            <article class="etc">
                <h1 class="display-6">피드 끝?<br>더 많이 구독하세요!<br>٩(இ ⌓ இ๑)۶</h1>
            </article>
        </div>
        <div class="col-4 d-none d-md-block">
            {% include 'core/__side.html' %}
        </div>
    </div>
</div>
{% endblock %}